<movie-detail [movie]="selectedMovie"></movie-detail>


<div class="card">
    <div class="card-header">
        {{ title }}
    </div>
    <ul class="list-group list-group-flush">
        <li *ngFor="let movie of movies" (click)="onSelect(movie)"
           class="list-group-item " 
           [class.active]="movie===selectedMovie">  
            <span class="badge bg-primary">{{movie.id}}</span> {{movie.name}}
            <span class="close"> X </span>
        </li>

    </ul>
</div>      




        
<!--*ngFor=" " bir donge olusturup tum elmintlari listeleyip yazdirmak icin-->
<!-- https://www.youtube.com/watch?v=k7MeckCB3yU&list=PLXuv2PShkuHwMKZf7EoB8XMohtvlFyyxC&index=21 -->